      <title>Contenido</title>
      
      <body>
            
            <label class="input-label" for="nombre">Nombre:</label>
            <input class="input-field" type="text" id="nombre"><br>
            <br>
            
            
            <label class="input-label" for="anio">Año:</label>
            <input class="input-field" type="date" id="anio"><br>
            <br>
            
            
            <label class="input-label" for="bio">Bio:</label>
            <input class="input-field" type="text" id="bio"><br>
            <br>
            <label class="input-label" for="casa">Casa:</label>
            <select class="input-field" id="casa" name="casa">
              <option value="marvel">Marvel</option>
              <option value="dc">DC</option>
            </select><br>
            <br>
            
            <label class="input-label" for="imagen">Imagen:</label>
            <input class="input-field" type="file" id="imagen"><br>
            <hr>
      
        <button onclick='guardar()'>Guardar</button>
      
      </body>